# DATABASE CONFIGURATION
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=db_vinci_store

# FLASK CONFIGURATION
SECRET_KEY=isi_dengan_string_acak_bebas

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=dapatkan_di_google_console
GOOGLE_CLIENT_SECRET=dapatkan_di_google_console